.city-card {
  position: relative;
  color: white;
  width: 250px;
  height: 150px;
  background-color: azure;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
.card-content h1 {
  font-size: 1rem;
}

.card-content p {
  font-size: 0.75rem;
}
