.hotel-image {
  position: relative;
  max-width: 100px;
  height: 100px;
  background-color: azure;
  background-size: cover;
  background-position: center;
  border: none;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.link-style {
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: #8338ec;
}

.location {
  font-size: 10px;
  color: #6c757d;
}

.price {
  font-size: 10px;
  font-weight: bold;
}

.rate {
  font-size: 8px;
}

.rate span {
  background-color: #023e8a;
  color: white;
  font-weight: bold;
  padding: 1.5px;
}
