.navbar {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.buttonbar {
  display: flex;
  gap: 10px;
}

.logo {
  text-transform: uppercase;
  font-family: "Pacifico", cursive;
  letter-spacing: 0.1em;
}
